.page {
      font-family: "Libre Franklin", sans-serif;
      background-color: #ffffff;
      margin: 0 auto;
      //border: 1px solid black;

      display: flex;
      flex-direction: column;
      align-items: center;

      width: 80%;
      //padding: 1.5rem;
      @media (max-width: $laptop) {
            width: 80%;
            padding: 1rem;
      }
      @media (max-width: $tablet) {
            width: 90%;
            padding: 0.5rem;
      }
      @media (max-width: $bigPhone) {
            width: 95%;
            padding: 0.25rem;
      }

      &__vid {
            //border-radius: 1rem;

            margin: 0 auto;
            //margin-bottom: 5rem;
            &__src {
                  border: 0.5px solid black;
                  margin: 0 auto;
                  border-radius: 2rem;
                  max-width: 100%;
                  background-size: cover;

                  @media (max-width: $laptop) {
                        border-radius: 1.5rem;
                  }
                  @media (max-width: $tablet) {
                        border-radius: 0.75rem;
                  }
                  @media (max-width: $bigPhone) {
                        border-radius: 0.5rem;
                  }
            }

            @media (max-width: $tablet) {
                  margin-bottom: 0rem !important;
            }
      }

      &__back {
            text-decoration: none;
            color: black;
            width: 100%;
            //border: 1px solid black;
            margin-top: 5rem;
            font-size: 2rem;
            //font-style: italic;

            text-align: left;
            margin-bottom: 5rem;
            transition: all 0.5s;
            cursor: pointer;
            &:hover {
                  font-size: 2.2rem;

                  text-decoration: underline;
            }
      }

      &__hero {
            width: 100%;
            margin: 0 auto;
            height: auto;
            padding: 0rem;
            //border: 1px solid black;
            &__src {
                  background-position: center center;
                  background-repeat: no-repeat;
                  max-width: 100%;
                  object-fit: contain;
            }

            &__second {
                  margin-bottom: 5rem;
            }
      }

      .genderPrimary1 {
            color: $color--genderWage1 !important;
      }

      .genderPrimary2 {
            color: $color--genderWage2 !important;
      }

      .genderPrimary3 {
            color: $color--genderWage3 !important;
      }

      .genderPrimary4 {
            color: $color--genderWage4 !important;
      }

      .genderPrimary5 {
            color: $color--genderWage5 !important;
      }

      .genderPrimary1Pink {
            border-bottom: 3px solid $color--genderWage1;
      }

      &__title {
            width: 100%;
            text-align: center;
            font-size: 4.25rem;
            text-transform: uppercase;
            margin: 0 auto;
            //border-bottom: 2.5px solid $SJSU--3;
            margin-top: 2rem;
            letter-spacing: 0.75rem;
            color: $SJSU--primary;
            //border: 1px solid black;
            &__sub {
                  font-size: 2.5rem;
            }

            margin-bottom: 1.75rem;

            &__subheading {
                  width: 90%;
                  font-size: 2.5rem;
                  color: $SJSU--secondary;

                  @media (max-width: $laptop) {
                        font-size: 1.75rem !important;
                  }
                  @media (max-width: $tablet) {
                        font-size: 1.5rem !important;
                        letter-spacing: 0.5rem !important;
                  }
                  @media (max-width: $bigPhone) {
                        letter-spacing: 0.15rem !important;
                        font-size: 1rem !important;
                  }
            }

            @media (max-width: $laptop) {
                  font-size: 4rem;
            }
            @media (max-width: $tablet) {
                  font-size: 3rem;
                  letter-spacing: 0.5rem;
                  margin-bottom: 1rem;
            }
            @media (max-width: $bigPhone) {
                  font-size: 2rem;
            }
      }

      &__overView {
            display: flex;
            flex-direction: column;
            color: $SJSU--primary;

            //border: 1px solid black;
            width: 100%;

            & > * {
                  margin-bottom: 5rem;

                  @media (max-width: $tablet) {
                        margin-bottom: 2rem;
                  }

                  @media (max-width: $bigPhone) {
                        margin-bottom: 1rem;
                  }
            }
            &__teamMembers {
                  width: 80%;
                  margin: 0 auto;
                  //border: 1px solid red;
                  display: flex;
                  margin-top: 1rem;
                  flex-wrap: wrap;

                  justify-content: space-evenly;
                  align-items: flex-start;

                  @media (max-width: $tablet) {
                        width: 95%;
                  }
                  &__item {
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        //padding: 0.5;
                        max-width: 15rem;
                        //border: 1px solid red;
                        @media (max-width: $tablet) {
                              max-width: 13rem;
                        }
                        @media (max-width: $bigPhone) {
                              max-width: 10rem;
                        }
                        &:hover {
                              & * > * {
                                    opacity: 1;
                              }

                              .page__overView__teamMembers__item__picture {
                                    padding-left: 2.5rem;
                                    padding-right: 2.5rem;
                              }
                        }
                        &__picture {
                              //border: 1px soild red;
                              padding-left: 3rem;
                              padding-right: 3rem;
                              transition: all 0.5s;

                              &__src {
                                    // border: 10px soild red;
                                    // padding: 1rem;
                                    // margin: 0 auto;

                                    border-radius: 10rem;
                                    max-width: 100%;
                                    object-fit: contain;
                                    background-position: center center;
                                    margin: 0 auto;
                              }
                        }
                        &__roles {
                              //border: 1px solid red;
                              text-align: center;
                              list-style: none;
                              line-height: 2rem;
                              color: $SJSU--primary;
                              // @media (max-width: $tablet) {
                              //       line-height: 1.75rem;
                              // }

                              &__name {
                                    font-size: 1.5rem;
                                    color: $SJSU--primary;
                                    //border-bottom: 1px solid $SJSU--primary;

                                    @media (max-width: $tablet) {
                                          font-size: 1rem;
                                          line-height: 1rem;
                                    }
                              }
                              &__elem {
                                    opacity: 0;
                                    transition: 0.33s;
                                    font-size: 1rem;
                                    @media (max-width: $tablet) {
                                          padding-top: 0.25rem;
                                          line-height: 1rem;
                                    }
                                    &__show {
                                          opacity: 1;
                                          font-weight: 800;

                                          @media (max-width: $tablet) {
                                                padding-top: 0.25rem;
                                                line-height: 1rem;
                                          }
                                    }
                              }
                        }
                  }
            }
            &__duration {
                  width: 100%;
                  //color: white;
                  font-size: 2rem;
                  text-align: center;
                  margin: 0 auto;
                  margin-top: 5rem;
                  //border-top: 2px solid $SJSU--2;

                  @media (max-width: $tablet) {
                        font-size: 1rem;
                        margin-top: 3rem;
                  }
            }
      }

      &__spacer {
            margin-bottom: 10rem;
      }

      &__section {
            //border: 1px solid green;
            display: flex;
            flex-direction: column;
            margin-bottom: 5rem;
            &__header {
                  //border: 1px solid red;

                  text-align: left;
                  margin-bottom: 3rem;
                  font-size: 4rem;
                  font-weight: 1000;

                  @media (max-width: $laptop) {
                        font-size: 3.5rem;
                  }
                  @media (max-width: $tablet) {
                        font-size: 2.75rem;
                  }
                  @media (max-width: $bigPhone) {
                        font-size: 2rem;
                  }

                  &__sub {
                        // padding-left: 0.5rem;
                        font-size: 3rem;
                        margin-bottom: 2rem;

                        @media (max-width: $laptop) {
                              font-size: 2.75rem;
                        }
                        @media (max-width: $tablet) {
                              font-size: 2rem;
                        }
                        @media (max-width: $bigPhone) {
                              font-size: 1.5rem;
                        }
                  }
            }

            &__mainText {
                  width: 100%;
                  // padding-left: 0.5rem;
                  text-align: left;
                  //border: 1px solid red;

                  font-size: 2rem;

                  margin-bottom: 2rem;

                  &__second {
                        margin-bottom: 5rem;
                  }

                  &__null {
                        margin-bottom: 1rem;
                  }

                  @media (max-width: $laptop) {
                        font-size: 1.75rem;
                  }
                  @media (max-width: $tablet) {
                        font-size: 1.5rem;
                  }
                  @media (max-width: $bigPhone) {
                        font-size: 1rem;
                  }
            }
      }

      &__taskList {
            width: 100%;
            text-align: left;
            line-height: 3rem;
            padding-left: 3rem;

            @media (max-width: $tablet) {
                  //margin-top: -2rem;
                  line-height: 2rem;
            }
            &__elem {
                  font-size: 2rem;

                  @media (max-width: $laptop) {
                        font-size: 1.75rem;
                  }
                  @media (max-width: $tablet) {
                        font-size: 1.5rem;
                  }
                  @media (max-width: $bigPhone) {
                        font-size: 1rem;
                  }
            }
      }

      &__proOver {
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            margin: 0 auto;
            flex-direction: row;

            @media (max-width: $tablet) {
                  flex-direction: column;
            }

            // border: 1px solid black;
            &__left {
                  padding-left: 2rem;
                  padding-right: 2rem;
                  //border: 1px solid red;

                  @media (max-width: $tablet) {
                        padding: 0;
                        margin-bottom: 2rem;
                  }

                  &__header {
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        font-weight: 1000;

                        @media (max-width: $tablet) {
                              font-size: 1.5rem;
                        }
                        @media (max-width: $bigPhone) {
                              font-size: 1.25rem;
                        }
                  }

                  &__text {
                        font-size: 1.5rem;

                        @media (max-width: $tablet) {
                              font-size: 1.25rem;
                        }
                        @media (max-width: $bigPhone) {
                              font-size: 1rem;
                        }
                  }
            }
            &__right {
                  padding: 0rem;
                  padding-left: 2rem;
                  //border: 1px solid red;

                  @media (max-width: $tablet) {
                        padding: 0;
                  }

                  &__header {
                        color: $SJSU--primary;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                        font-weight: 1000;

                        @media (max-width: $tablet) {
                              font-size: 1.5rem;
                        }
                        @media (max-width: $bigPhone) {
                              font-size: 1.25rem;
                        }
                  }

                  &__text {
                        font-size: 1.5rem;

                        @media (max-width: $tablet) {
                              font-size: 1.25rem;
                        }

                        @media (max-width: $bigPhone) {
                              font-size: 1rem;
                        }
                  }
            }
            margin-bottom: 2rem;
      }

      &__link {
            position: relative;
            width: 90%;
            margin: 0 auto;
            text-align: center;
            font-size: 2rem;
            margin-bottom: 5rem;
            border-bottom: 2px solid $SJSU--primary;
            cursor: pointer;
            transition: all 0.5s;
            //border: 1px solid black;

            &__1 {
                  border: none;
            }
            @media (max-width: $tablet) {
                  font-size: 1rem;
                  margin-bottom: 3rem;
            }

            &:hover {
                  font-size: 2.05rem;
                  letter-spacing: 0.05rem;
            }
      }

      &__colors {
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-wrap: nowrap;
            //border: 1px solid black;
            justify-content: space-evenly;
            margin-bottom: 5rem;

            @media (max-width: $tablet) {
                  width: 80%;
            }

            @media (max-width: $bigPhone) {
                  width: 90%;
            }

            &__item {
                  text-align: center;
                  font-size: 0.75rem;
                  min-width: 5rem;
                  min-height: 3rem;
                  border-radius: 20rem;
                  padding-top: 2rem;
                  transition: all 0.5s ease-in;
                  //border: 2px solid black;
                  &:hover {
                        transform: translateY(-2rem);
                  }
            }
      }
}
