.section-header {
      height: 100vh;
      //width: auto;
      background-image: url(../img/bluebackground.jpg);
      background-size: cover;
      background-position: top;
      position: relative;

      @include respond(tab-port) {
            padding: 0;
      }
}

.section-blender {
      height: 7vh;
      width: auto;
      &__1 {
            background-image: linear-gradient(
                  to bottom left,
                  $color-bluegreen-3 10%,
                  $color-bluegreen-2 50%,
                  $color-bluegreen-1 90%
            );
      }
      &__2 {
            background-image: linear-gradient(
                  to bottom,
                  $color-cyanBlue 30%,
                  $color-grey-lighter 70%,
                  red
            );
      }
      &__3 {
            background-image: linear-gradient(
                  to bottom,
                  $color-grey-lighter 30%,
                  $color-bluegreen-4 70%
            );
      }
      &__4 {
            background-image: linear-gradient(
                  to bottom,
                  $color-grey-light 30%,
                  $color-bluegreen-4 70%
            );
      }
}

.section-blender1 {
      height: 7vh;
      width: auto;
      background-image: linear-gradient(
            to bottom left,
            $color-bluegreen-3 10%,
            $color-bluegreen-2 50%,
            $color-bluegreen-1 90%
      );
}
.section-blende2 {
      height: 7vh;
      width: auto;
      //background-color: $color-cyanBlue-dark;
      background-image: linear-gradient(
            to bottom,
            $color-cyanBlue 10%,
            $color-grey-lighter 20%
      );
}
.section-blender3 {
      height: 7vh;
      width: auto;
      background-image: linear-gradient(
            to bottom,
            $color-grey-light 30%,
            $color-bluegreen-4 70%
      );
}

.section-aboutme {
      margin-top: -5rem;
      padding: 20rem 0 10rem 0;
      position: relative;
      background-color: $color-cyanBlue;
      clip-path: polygon(0 20%, 100% 0, 100% 90%, 0 100%);
      @include respond(tab-land) {
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 15rem;
            padding-bottom: 15rem;
      }
      @include respond(mPhone) {
            clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 30rem;
            padding-bottom: 15rem;
      }

      /*
      @include respond(Phone) {
            clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
            padding-left: 5rem;
            padding-right: 5rem;
            padding-top: 15rem;
            padding-bottom: 15rem;
      }*/
}
.section-research-interests {
      margin-top: -15rem;
      padding: 30rem 0 20rem 0;
      position: relative;
      background-color: $color-cyanWhite-darker;
      clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
      z-index: -2;

      @include respond(phone) {
            clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 95%);
            padding-left: 5rem;
            padding-right: 5rem;
            padding-bottom: 12rem;
      }
}
.section-misc {
      margin-top: -15rem;
      padding: 30rem 0 10rem 0;
      position: relative;
      background-color: $color-cyanBlue-dark;
      clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
      z-index: -1;
      @include respond(tab-port) {
            clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
            margin-top: -10rem;
            padding-top: 15rem;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-bottom: 12rem;
      }

      @include respond(phone) {
            clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0 100%);
            padding-left: 5rem;
            padding-right: 5rem;
            padding-bottom: 12rem;
      }
}
.section-work-experience {
      //margin-top: -15rem;
      padding: 10rem 0 10rem 0;
      position: relative;
      margin: 0 auto;
      background-color: $color-cyanWhite;
}

.section-portfolio {
      padding: 10rem 0 10rem 0;
      position: relative;
      margin: 0 auto;
      background-color: $color-bluegreen-4;
}
.section-endingBlur {
      height: 7vh;
      width: auto;
      background-image: linear-gradient(
            to bottom,
            $color-bluegreen-4 30%,
            $color-cyanWhite 70%
      );
}
.section-contactMe {
      padding: 10rem 0 3rem 0;
      position: relative;
      margin: 0 auto;
      background-color: $color-cyanWhite;
}
