.section-header {
  height: 100vh;
  width: auto;
  background-image: url(../../img/bluebackground.jpg);
  background-size: cover;
  background-position: top;
}

.section-blender {
  height: 10vh;
  width: auto;
  background-image: -webkit-gradient(linear, right top, left bottom, );
  background-image: linear-gradient(to left bottom);
}
