.composition {
      position: relative;
      &__photo {
            width: 85%;
            border-radius: 2rem;
            position: absolute;
            box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
            transform: translateY(-5rem);
            outline-offset: 2rem;

            background-image: linear-gradient(
                        to right bottom,
                        rgba($color-pastelPink, 0.8),
                        rgba($color-pastelTeal, 0.8)
                  ),
                  url("../img/me-but-taller.jpg");
            background-size: cover;
            background-position: center;
            &--p1 {
                  left: 0;
                  top: -2rem;
            }
            &:hover {
                  outline: 1.5rem solid $color-bluegreen-darker;
                  transform: scale(1.05) translateY(-0.5rem);
                  box-shadow: 0 2.5rem 4rem rgba(black, 0.5);
            }
      }
      &:hover &__photo:not(:hover) {
            transform: scale(0.9);
      }
}

