.emailIcon {
      font-size: 6rem;
      text-decoration: none !important;
      background-color: orangered;

      background-image: linear-gradient(
            to right,
            $color-bluegreen-darker,
            $color-pastelTeal
      );
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
}

.linkHolder {
      display: inline;
}

.fa {
      padding-top: 0.2rem;
      padding-right: 0.5rem;
      font-size: 3rem;
      width: 1rem;
      text-align: center;
      text-decoration: none;
      margin: 5rem;
      transform: scale(5);
      color: $color-bluegreen-3;
}
