@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-20rem) rotate(5deg);
            transform: translateX(-20rem) rotate(5deg);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translateX(0.5rem) rotate(-1deg);
            transform: translateX(0.5rem) rotate(-1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    -webkit-transform: translateX(-20rem) rotate(5deg);
            transform: translateX(-20rem) rotate(5deg);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translateX(0.5rem) rotate(-1deg);
            transform: translateX(0.5rem) rotate(-1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem) rotate(5deg);
            transform: translateX(20rem) rotate(5deg);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translateX(-0.5rem) rotate(-1deg);
            transform: translateX(-0.5rem) rotate(-1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20rem) rotate(5deg);
            transform: translateX(20rem) rotate(5deg);
  }
  70% {
    opacity: 0.8;
    -webkit-transform: translateX(-0.5rem) rotate(-1deg);
            transform: translateX(-0.5rem) rotate(-1deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
