body {
      font-weight: 400;
      line-height: 1.7;
      font-family: "Poppins", "sans-serif";

      background-color: $color-bluegreen;
}

html {
      scroll-behavior: smooth;
}

.heading-secondary {
      //margin: auto 0;
      padding: 1rem;
      text-align: center;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
      background-image: linear-gradient(
            to right,
            $color-bluegreen-dark,
            $color-bluegreen-3
      );
      text-shadow: 2.5rem 1rem 2rem rgba(0, 0, 0, 0.25);
      display: inline-block;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: 0.75rem;
      border: 3px solid $color-bluegreen-2;
      border-radius: 1rem;
      animation-name: moveInLeft;
      animation-duration: 3s;

      &__1 {
            background-image: linear-gradient(
                  to right,
                  $color-bluegreen-dark,
                  $color-bluegreen-3
            );
            border: 3px solid $color-bluegreen-2;
      }
      &__2 {
            background-image: linear-gradient(
                  to right,
                  $color-cyanWhite-dark,
                  $color-cyanWhite
            );
            border: 3px solid $color-cyanWhite;
      }
      &__3 {
            background-image: linear-gradient(
                  to right,
                  $color-bluegreen-darkest,
                  $color-bluegreen-darker
            );
            border: 3px solid $color-bluegreen-darkest;
      }
      &__4 {
            background-image: linear-gradient(
                  to right,
                  $color-cyanBlue,
                  $color-cyanWhite
            );
            border: 3px solid $color-cyanBlue;
      }
}

.highlight {
      font-weight: 800;
      &__1 {
            background-color: $color-cyanBlue;
            color: $color-pastelPurple-darker;
      }
      &__2 {
            background-color: $color-cyanWhite-darker;
            color: $color-pastelViolet-light;
      }
      &__3 {
            background-color: $color-cyanBlue-dark;
            color: $color-pastelPurple-darker;
      }
}

.bodyText {
      padding: 3rem;
      &__heading {
            font-size: $text-size-headings;
            font-weight: 400;
            &__1 {
                  color: $color-bluegreen-darker;
            }
            &__2 {
                  color: $color-cyanWhite;
            }
            &__3 {
                  color: $color-bluegreen-dark;
            }
      }
      &__content {
            font-size: $text-size;
            line-height: 4rem;
            &__1 {
                  color: $color-bluegreen-darker;
            }
            &__2 {
                  color: $color-cyanWhite;
            }
            &__3 {
                  color: $color-bluegreen-dark;

                  @include respond(tab-land) {
                        margin-bottom: 5rem;
                        margin: 0 auto;
                  }
            }
      }
}
.address {
      text-decoration: none;
}
.info {
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100vh;
      padding: 2rem;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 5rem;
      //border: 3px solid sandybrown;
      &--links {
            display: flex;
            flex-wrap: wrap;
            width: 65%;
            margin: 0 auto;
            justify-content: center;
            text-align: center;
            padding: 1rem;
            //border: 1px solid orangered;
            margin-bottom: 2rem;
            @include respond(phone) {
                  width: 90%;
            }
            &--item {
                  flex-grow: 1;
                  //flex-basis: 90%;
                  border: 1px solid $color-cyanWhite;
                  border-radius: 1rem;
                  font-size: 2rem;
                  letter-spacing: 1rem;
                  color: $color-cyanWhite;
                  font-weight: 400;
                  transition: all 0.25s;
                  padding: 0.5rem;
                  padding-right: 0.75rem;
                  padding-left: 1rem;
                  margin: 0.5rem;
                  &:hover {
                        font-weight: 1000;
                        //font-size: 2.5rem;
                        //border-bottom: 2px solid $color-pastelPurple-darker;
                  }
                  @include respond(phone) {
                        letter-spacing: 1rem;
                        font-size: 1.5rem;
                        &:hover {
                              font-weight: 1000;
                              font-size: 1.75rem;
                        }
                  }
                  &__1 {
                        //text-align: right;
                        //padding-right: 0rem;
                        // border-right: 2px solid $color-pastelPurple-darker;
                        &:hover {
                              background-color: rgba(177, 216, 216, 0.89);
                              color: $color-bluegreen-dark;
                              opacity: 0.65;
                        }
                  }
                  &__2 {
                        //padding-left: 0.5rem;
                        //padding-right: 0.5rem;
                        &:hover {
                              background-color: rgba(177, 216, 216, 0.89);
                              color: $color-bluegreen-dark;
                              opacity: 0.65;
                        }
                  }
                  &__3 {
                        //text-align: left;
                        //padding-left: 0.5rem;
                        // border-left: 2px solid $color-pastelPurple-darker;
                        //margin-right: 0rem;
                        &:hover {
                              background-color: rgba(177, 216, 216, 0.89);
                              color: $color-bluegreen-dark;
                              opacity: 0.65;
                        }
                  }
            }
      }
      &--title1 {
            //border: 1px solid orangered;
            color: $color-cyanWhite;
            //background-color: orangered;
            display: inline-block;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 1.5rem;
            animation-name: moveInRight;
            animation-duration: 3s;
            margin-bottom: 2rem;
            @include respond(phone) {
                  letter-spacing: 1rem;
                  font-size: 2rem;
            }
      }
      &--title2 {
            //border: 1px solid orangered;
            color: $color-cyanWhite;
            //background-color: orangered;
            display: inline-block;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 1.5rem;
            animation-name: moveInLeft;
            //animation-delay: 0.3s;
            animation-duration: 3s;
            margin-bottom: 2rem;
            @include respond(phone) {
                  letter-spacing: 1rem;
                  font-size: 2rem;
            }
      }
}
.title {
      text-transform: uppercase;
      display: block;
      font-weight: 400;
      &__name {
            color: $color-bluegreen;

            //background-color: orangered;
            display: block;
            font-size: 4rem;
            letter-spacing: 1.5rem;
            animation-name: moveInLeft;
            animation-duration: 3s;

            @include respond(phone) {
                  letter-spacing: 1rem;
                  font-size: 3rem;
            }
      }

      &__intro {
            //border: 1px solid orangered;
            color: $color-cyanWhite;
            //background-color: orangered;
            display: inline-block;
            font-size: 3rem;
            font-weight: 400;
            letter-spacing: 1.5rem;
            animation-name: moveInRight;
            animation-duration: 3s;
            margin-bottom: 2rem;

            @include respond(phone) {
                  letter-spacing: 1rem;
                  font-size: 3rem;
            }
      }
      &__vis {
            //border: 1px solid orangered;
            padding-top: 2rem;
            color: $color-cyanWhite;
            display: inline-block;
            font-size: 2.8rem;
            font-weight: 400;
            letter-spacing: 1.3rem;
            opacity: 0;
            animation-name: moveInRight;
            animation-delay: 0.5s;
            animation-duration: 3s;
            animation-fill-mode: forwards;
            @include respond(phone) {
                  letter-spacing: 0.8rem;
                  font-size: 2.5rem;
            }
      }
      &hotLinks {
            width: 80%;
            text-align: center;
            //border: 2px orangered;
            //height: 5rem;
            font-size: 2rem;
            //margin: 0 auto;
            //margin-bottom: 5rem;
            //padding: 2rem;
      }
}

/*
.hotLinks {
      width: 80%;
      text-align: center;
      border: 2px yellow;
      height: 5rem;
      font-size: 2rem;
      margin: 0 auto;
      margin-bottom: 5rem;
      padding: 2rem;
}*/

.ending {
      font-size: $text-size;
      color: $color-bluegreen-darker;
      width: 60%;
      margin: 0 auto;
}
