/*
.text-box-center {
      @include centerABS;
}
*/
.text-box-top {
      //background-color: orangered;
      position: absolute;
      top: 10%;
      left: 50.5%;
      transform: translate(-50%, -20%);
      text-align: center;
      width: 75%;
}


.text-box-bottom {
      display: flex;
      flex-direction: column;
      border: 3px solid red;
      text-align: center;
      height: 95vh;
      justify-content: flex-end;
      margin-bottom: 5rem;
      /*
      position: absolute;
      top: 90%;
      left: 51%;
      transform: translate(-50%, -90%);
      text-align: center;
      width: 75%;*/
}

.margin-bottom-large {
      margin-bottom: 8rem !important;
}
.margin-bottom-medium {
      margin-bottom: 4rem !important;
}
.margin-bottom-small {
      margin-bottom: 1rem !important;
}

.center-text {
      text-align: center !important;
}

.text-size-main {
      font-size: $text-size;
      font-family: "Lato", sans-serif !important;
}
