.gradLayout {
  width: 80%;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(red), to(purple));
  background: linear-gradient(to right, red, purple);
  padding: 3rem;
  /*
      &__inner {
            background: $color-bluegreen-4;
            padding: 2rem;
      }*/
}
