.gradLayout {
      margin: 0 auto;
      width: 80%;
      position: relative;
      background: linear-gradient(
            to right,
            $color-cyanBlue-dark,
            $color-cyanBlue
      );
      border-radius: 2.3rem;
      padding: 2rem;

      &__inner {
            border-radius: 2rem;
            background: $color-bluegreen-4;
            padding: 6rem;
      }
}

.linkHolder {
      margin: 0 auto;
      width: 60%;
      position: relative;
      border: 0.6rem solid $color-bluegreen-4;
      border-radius: 1rem;
      padding: 2rem;
      //padding-bottom: 2rem;
      //padding-left: 2rem;
      //padding-right: 2rem;
}

.skills-list {
      columns: 3;
      margin-left: 5rem;
      margin-top: 5rem;
      font-size: $text-size;
      font-family: "Poppins", "sans-serif";
      color: $color-bluegreen-darker;

      @include respond (tab-port){
            font-size: $text-small;
      }

      @include respond(phone){
            font-size: $text-smallest; 
      }
}
