//colors:
$color-bluegreen: #227579;
$color-bluegreen-dark: #0f5c66;
$color-bluegreen-darker: #036674;
$color-bluegreen-darkest: #013e46;

$color-bluegreen-1: #26757c;
$color-bluegreen-2: #2a8284;
$color-bluegreen-3: #318b8c;
$color-bluegreen-4: #2f9597;
$color-cyanWhite: #e8fff9;
$color-cyanBlue: #a3eae4;
$color-cyanBlue-dark: #85c9c3;
$color-cyanWhite-dark: #c5fbf4;
$color-cyanWhite-darker: #5ea19d;

//pastelViolet
$color-pastelViolet-light: #eadcf6;
$color-pastelViolet-dark: #c59fe6;
$color-pastelViolet-darkest: #a270ce;

//blues
$color-darkBlue: #022e3f;
$color-greenblue: #0c4850;
$color-brightBlue: #133d74;

//greys
$color-grey-light: D3E9EA;
$color-grey-lighter: DDF5F5l;

//reds
$color-pastelRed: #ffb2ae;
$color-pastelRed-dark: #ff9a95;
$color-pastelRed-darkest: #e20a00;
$color-pastelRed-darker: #e06660;
$color-pastelPurple: #c3b1e1;
$color-pastelPurple-darker: #7c679e;

//PastelGreens
$color-pastelGreen-light: #b4ecb4;
$color-pastelGreen-dark: #77dd77;
$color-pastelGreen-darkest: #5ca15c;

//pinks
$color-pastelPink: #eeaeca;

//blues
$color-pastelBlue: #94bbe9;
$color-pastelTeal: #387989;

// grid parameters
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;
$box-height: 5rem;

//$text
$text-size-headings: 2.8rem;
$text-size: 1.7rem;
$text-small: 1.5rem;
$text-smallest: 1.25rem;
